@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
:root {
    --primary: rgb(155, 255, 180);
    --secondary: rgb(56, 83, 77);
    --red: #ff3c3c;
    --white:#fff;
    --black:rgb(0, 0, 0);
    --transition: .4s ease;
    
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    
}


/*--------Global classes-------------*/
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
}

/*---------Navigation-------------*/
.dark-theme {
    --primary: rgb(56, 83, 77);
    --secondary: rgb(151, 253, 176);
}
.hero {
    background: var(--primary);
    width: 100vw;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 25px 35px;
}
nav .logo {
    height: 80px;
    padding-left: 50px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 300px;
}
nav ul li a {
    font-weight: 700;
    display: block;
    padding: 20px 30px;
    color: var(--secondary);
    letter-spacing: 1px;
}
nav ul li a:hover {
    background: var(--red);
    color: var(--white);
    border-radius: 6px;
    transition: var(--transition);
}
.wrapp {
    display: flex;
    justify-content: space-between;
}
.info {
    padding: 15% 7%;
    flex: 0 0 48%;
}
.info h1 {
    font-size: 2.5rem;
    color: var(--secondary);
    margin-bottom: 10px;
}
.info2 {
    flex: 0 0 46%;
}
.info2 img {
    border-radius: 8px;
    border: 5px solid var(--secondary);
    margin-left: 50px;
}
.info p {
    color: var(--secondary);
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-bottom: 30px;
}
.btn {
    font-size: 1.5rem;
    border: none;
    background:var(--secondary);
    color: var(--primary);
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 6px;
}
.btn:hover {
    background:var(--red);
    color: var(--white);
    transition: var(--transition);
}
#icon {
    height: 40px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
}


